html{

}

.title{
  text-align: center;
}


.grid{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.lside{
  border: 2px solid black;
  grid-row-start: 1;
  grid-row-end: 3;
}

.rside{
  border: 2px solid black;
  grid-column-start: 2;
  grid-column-end: 4;
}
