html{

}

.title{
  text-align: center;
}



.grid{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.lside{
  border: 2px solid black;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-top: 20px;
}

.lside p{
  display: block;
  text-align: center;
}

.rside{
  border: 2px solid black;
  grid-column-start: 2;
  grid-column-end: 4;
}
